@use 'variables'
    
.about
    padding: 1em 1em
    text-align: center
    .container
        h5
            margin-top: 1em
            font-weight: 700
            font-size: 3rem
            text-decoration: underline
            text-underline-offset: 10px
            text-decoration-color: variables.$CinzaEscuro
            color: variables.$Verde
        .about-wrapper
            margin-top: 2rem
            position: relative
            width: 100%
            display: flex
            flex-wrap: wrap
            max-width: 1920px
            left: 50%
            transform: translate(-50%, 0%)
            .about-text
                text-align: start
                padding: 1.5em 1em
                width: 100%
                font-size: 1.6rem !important
                strong
                    font-size: 1.6rem
                    color: variables.$Verde
            .about-image
                background-image: url('./../public/images/alexia1.jpg')
                background-position: center
                background-size: cover
                width: 100%
                min-width: 50%
                height: auto
                min-height: 300px

@media screen and (min-width: 992px)
    .about-wrapper
        .about-text
            font-size: 1.4rem !important
            width: 50% !important
        .about-image
            width: 50% !important
            margin: 1rem 0